<%= erb :new_form %>

<h1 style="color: #ca6c2c"><%= @neighborhood.title %></h1>
<ul>

	<div id="logout">
			<a href='/logout'>Logout |</a>
			<a href='/main_page'>Home |</a>
			<%= current_user.email %>
	</div>


	<% @all_posts.each do |comment| %>
	<h2><%= comment.title %></h2>
	<h4><li style="color: #fff"><%= comment.body %></li></h4>
	<a href='/delete/<%=comment.id%>' style="color: #fff">Delete Post   |   </a>
	<a href='#' style="color: #fff">Edit Post</a>
	<% end %>
	
</ul>


<footer>
		<a href="#">Twitter</a>
		<a href="#">Facebook</a>
		<a href="#">Instagram</a>
		<a href="#">Contact Us</a>
		<p>© Kadar Hall Inc. all rights reserved.</p>
</footer>